---
layout: base.njk
title: About
---

<section class="hero">
    <div class="profile-photo">
        <img src="/me.jpg" alt="Kushal Chordiya" class="profile-img">
    </div>
    <div class="intro">
        <h1>Hi, I'm Kushal Chordiya</h1>
        <p class="tagline">Software Engineer at Meta</p>
    </div>
</section>

<section class="content">
    <h2>About Me</h2>
    <p>
	I'm a software engineer passionate about building reliable, scalable systems. 
	I currently work at Meta as a Production Engineer, in the London Office. My team at Meta handles the platform security for Meta's Corp fleet. 
	My work mainly focuses on reliability, performance and observability of CorpEnforcer, an in-house product for securing and enforcing a vast variety of Meta's hardware & infrastructure
    </p>
    <p>
	Previously, I worked at Indeed as an SRE, where I led initiatives to achieve 3 9s of availability 
	(almost 4 by the time I left!) for our payments and billing systems, 
	and led a major database decoupling and migration project.
    </p>
    <p>
	I'm interested in Distributed Systems, Platform Engineering, Performance Tuning and Databases. In my free time I enjoy reading and hiking and vibing out to old school rock and heavy metal!
    </p>
</section>

</section>
